h1{font-family: 'Times New Roman', Times, serif; color: dodgerblue;}
fieldset{background-color: darkgrey;}
label{background-color:darkgoldenrod}
input{background-color:slategrey;}
h2{background-color: darkmagenta; font-family: Arial, Helvetica, sans-serif;}